/* Write your CSS here */
.destination-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
  }
  
  .container1 {
    display: flex;
    flex-direction: row;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .search {
    margin: 1.5rem;
    height: 2rem;
    border-radius: 0.5rem;
  }
  